[TelegramBot]
token = ""
admin_chat_id = 0
channel_url = ""
channel_name = ""
post_time = ""

[SaintFactory]
openai_key = ""
openai_folder = ""
image_folder = ""
toml_folder = ""
fonts_folder = ""

[SaintCreator]
generate_time = ""

[Instagram]
username = ""
password = ""
proxy_host = ""
proxy_port = ""
proxy_username = ""
proxy_password = ""
temp_folder = "out/temp/"
instagram_settings_path = ""

[InstagramPoster]
post_time = ""
max_tries = 0
retry_delay = 0

[EmailClient]
imap_server = ""
sender = ""
username = ""
password = ""
