[TelegramBot]
token = ""
admin_chat_id = 0
channel_url = ""
channel_name = ""
post_time = "08:00"

[SaintFactory]
openai_key = ""
openai_folder = "out/openai/"
image_folder = "out/images/"
toml_folder = "out/toml/"

[SaintCreator]
generate_time = ""

[Instagram]
username = ""
password = ""
temp_folder = ""

[InstagramPoster]
post_time = ""
max_tries = 0
retry_delay = 0

[EmailClient]
imap_server = ""
sender = ""
username = ""
password = ""